@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
    padding: 8px;
    left: 0% !important;
    z-index: 1;
}

.slick-next {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    right: 0% !important;
    z-index: 4;
}